body{
  color: #40514E;
  margin:  0px;
  text-align: center;
  font-family: 'Noto Serif', serif;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Noto Serif', serif;
}

h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Noto Serif', serif;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Noto Serif', serif;
}

P{
    line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px ;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Noto Serif', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  background-color: white;
}

.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profile{
      border-radius: 100%
}

.intro{
width: 30%;
margin: auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto  100px auto ;
  text-align: left;
}

.sql-image{
  width:25%;
  float: left;
  margin-right: 30px;
}

.work-image{
  width:25%;
  float:right;
  margin-left: 30px;
}


.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
/*  border : 2px;
  padding: 1px;
  border-style:solid;
  height: 10%;
  width : 10%;*/

}

.middle-container{
  margin: 100px 0;

      /*background-color: red;
  top: 36%;
  left: 10.4%;
  position: relative;
  border: 10px;
  padding: 57px;
  border-style:solid;
  width: 0%;*/
}

.bottom-container{
   background-color: #66BFBF;
   padding:50px 0 20px;
/*  background-color: yellow;
  top: 47%;
  left: 20.7%;
  position: absolute;
  border: 5px;
  padding: 62px;
  border-style: solid;
  width: 0%;*/
}

.pro{
  text-decoration: underline;
}

.pro1{
  font-weight:normal;
  line-height: 2;
}


.cloud-top{
  position:absolute;
  width: 10%;
  top: 40px;
  right:300px;
}

.cloud-bottom{
  position: absolute;
  width: 10%;
  bottom: 300px;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Noto Serif', serif;
   font-size: 28px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}

.btn:hover {

   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   text-decoration: none;
}
